<div id="<%= dom_id fighter %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= fighter.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Weight class:</strong>
    <%= fighter.weight_class %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fight record:</strong>
    <%= fighter.fight_record %>
  </p>

</div>
